venv/
env/
*.venv
*.virtualenv
myenv/


__pycache__/
*.py[cod]
*$py.class


*.db
*.sqlite3


*.log


*.tmp
*.bak
*.swp


.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

.env
*.env

build/
dist/
*.egg-info/

.coverage
htmlcov/

user_uploads/
temp/

poetry.lock
Pipfile.lock