{% extends "base.html" %}

{% block content %}
    <h1>Add Transaction</h1>
    <form action="{{ url_for('main.add_transaction') }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.amount.label }}<br>
            {{ form.amount(size=32) }}<br>
            {% for error in form.amount.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=64) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.category.label }}<br>
            {{ form.category(size=32) }}<br>
            {% for error in form.category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.transaction_type.label }}<br>
            {{ form.transaction_type() }}<br>
            {% for error in form.transaction_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}